dlib==19.9.0
face-recognition-models==0.3.0
imutils==0.5.2
numpy==1.16.4
opencv-python==4.1.0.0.25
pandas==0.24.2
Pillow==8.3.2
python-dateutil==2.8.0
pytz==2019.1
six==1.12.0
git+https://github.com/ageitgey/face_recognition_models
argparse
